.mr-auto{
    margin-left:80px;
    margin-right:80px;
}

#Research{
    color: white;
}

.navig{
    display: flex;
}

.label{
    color: white;
}

.label:hover{
    transition: 40ms ease-in-out;
    border-bottom: 3px solid #2c7f94;
}

.profil{
    display: flex;
}

@media(max-width: 1170px) {
    .profil{
        display: none;
    }
}

.fas{
    margin: 2px;
    color: rgb(120, 169, 224);
}

.logoReact{
    width:40px;
    margin-right: 30px;;
    margin-left: 30px;;
}

.profil > h6{
    margin-top: 8px;
    color:rgb(223, 208, 208) ;
    text-decoration: underline;
}

.MuiSvgIcon-root{
    width: 5px;
    height: 5px;
}

@media(min-width: 992px) {
    .Navbar2{
    height: 60px;
}
}

.Navbar2{
    width: 100%;
    background-color: #072D63;
}

#navbarScroll{
    width: 100px;
}

.sidebar{
    top: 180;
}

.Search_icon{
    color:rgb(255, 255, 255);
    margin-top: 8px;
}

.d-flex{
    display: flex;
}

#dropdown{
    color: rgb(255, 255, 255);
    width: 0px;
    margin: 0px;
}

#dropdownMenu{
    background-color: rgb(201, 208, 221);
}

.fa-power-off{
    color: rgb(196, 169, 19);
    margin-right: 3px;
}

.logout{
    color: rgb(191, 165, 20);
}

.dec{
    display: flex;
    margin-right: 40px;
}

.logout:hover{
    color: rgb(255, 219, 18);
}
.fa-power-off:hover{
    color: rgb(255, 226, 63);
    margin-right: 3px;
}
